*{
padding: 0px;
margin: 10px;
}
body{
  background-image: url('old-brick-black-color-wall-260nw-1605128917.png');
  height: 100%;
  width: 900px;
  background-repeat: no-repeat;
  background-size: cover;
}

#table-1{
  
    padding: 10px; width: 700px;
    height: 800px;
    padding: 10px;
    background-color: rgba(66, 148, 162, 0.625);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 5px 10px;
    color: white;
    text-shadow: 0 0 5px rgb(21, 4, 4);
}
.BUTTON{
    width: 126px;
    height: 41px;
    border-radius: 30px;
    margin-left: 27px;
}
.BUTTON:hover{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #table-2 {
    border: 1px solid;
  }
  .th-1 th{
    border: 2px solid white; 
    color: white;
    padding: 20px;
    text-align: center;
    text-align: center;
  }
  

